{% extends 'padre.html' %}
{% include static %}

{% block contenidoQueCambia %}
    <center>
        <h1 style= "color: green;"> Sobre mi</h1>
        <p>Soy Brandon Grajales Cardenas y estoy estudiando la universidad</p>
        <p>vine a coderhouse para poder aprender un poco mas sobre mi carrera</p>
        <p>que es ingenieria en informatica y la verdad este curso me ha sorprendido mucho</p>
        <p>El profesor y los tutores son muy amables y muy buenos y en relacion a todo el curso</p>
        <p>me encantó muchisimo todas las dinamicas que tienen</p>
        <p>me dedico mas que nada al estudio y a seguir practicando la programacion</p>
        <p>Se manejar Java, C++, sql, y ahorita que he terminado este curso</p>
        <p>aprendi mas para que sirve github, y aprendi el uso de django; por supuesto tambien</p>
        <p>Python sobre todo</p>
        <p>Gracias!</p>
    </center>

{% endblock contenidoQueCambia %}