{% extends 'padre.html' %}
{% include static %}

{% block contenidoQueCambia %}
    
        
    <center>
        {% if user.is_authenticated %}
        <h1 style= "color: green;"> Bienvenido {{user.username}} </h1>
        {% endif %}
        <h2 style= "color: green;"> {{mensaje2}}</h2>
        <p> Hey ! bienvenido a mi proyecto final</p>
        <p>Quieres saber algo de mi ? dirigete a about me</p>
        <p>Ahi te contare todo lo que quieras saber</p>
        <p>Diviertete usando mi pagina!</p>
    </center>

{% endblock contenidoQueCambia %}